<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body>
    <div class="toast ">
        <div class="toast-body">
            <span id="result-add-cart">Some text inside the toast body</span>
        </div>
    </div>
    <header id="header">
        <%- include ("../partials/header") %>
    </header>
    <main id="main">
        <section id="banner-area">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="/images/banner/1.jpg" alt="" class="img-fluid" height="80%">
                </div>
                <div class="item">
                    <img src="/images/banner/2.jpg" alt="" class="img-fluid" height="80%">
                </div>
                <div class="item">
                    <img src="/images/banner/3.jpg" alt="" class="img-fluid" height="80%">
                </div>
            </div>
        </section>
        <!-- Top sale -->
        <section id="top-sale">
            <div class="container py-5">
                <h4 class="font-rubik font-size-20">Top Sale</h4>
                <hr>
                <!-- Owl-carousel -->
                <div class="owl-carousel owl-theme">
                    <% for (var i = 0; i < products.length;  i++) { %>
                    <div class="item py-2">
                        <div class="product">
                            <a href='/product/<%=products[i].id%>'><img src='<%=products[i].image%>'
                                    class="img-fluid"></a>
                            <div class="text-center">
                                <h6><%=products[i].title%></h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span><%=products[i].price%></span>
                                </div>
                                <a class="btn btn-warning font-size-12 add-to-cart" value='<%=products[i].id%>'>Add to
                                    Cart</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>

        <!-- All product -->
        <section id="special-price">
            <div class="container">
                <h4 class="font-rubik font-size-20">All Product</h4>
                <div id="filters" class="button-group text-right">
                    <button class="btn is-checked" data-filter="*">All Brand</button>
                    <button class="btn" data-filter=".dress">Dress</button>
                    <button class="btn" data-filter=".bikini">Bikini</button>
                    <button class="btn" data-filter=".jeans">Jeans</button>
                    <button class="btn" data-filter=".trainer">Trainer</button>
                </div>

                <div class="grid">
                    <% for (var i = 0; i < products.length;  i++) { %>
                    <div class="grid-item <%=products[i].type%> border">
                        <div class="item py-2" style="width: 200px">
                            <div class="product font-rale">
                                <a href='/product/<%=products[i].id%>'><img src="<%=products[i].image%>" alt="product1"
                                        class="img-fluid"></a>
                                <div class="text-center">
                                    <h6><%=products[i].title%></h6>
                                    <div class="rating text-warning font-size-12">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="price py-2">
                                        <span><%=products[i].price%></span>
                                    </div>
                                    <a class="btn btn-warning font-size-12 add-to-cart" value='<%=products[i].id%>'>Add
                                        to
                                        Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>

        <!-- New phones -->
        <section id="new-phones">
            <div class="container py-5">
                <h4 class="font-rubik font-size-20">New Clothes</h4>
                <hr>
                <!-- Owl-carousel -->
                <div class="owl-carousel owl-theme">
                    <% for (var i = 0; i < products.length;  i++) { %>
                    <div class="item py-2 bg-light">
                        <div class="product">
                            <a href='/product/<%=products[i].id%>'><img src='<%=products[i].image%>'
                                    class="img-fluid"></a>
                            <div class="text-center">
                                <h6><%=products[i].title%></h6>
                                <div class="rating text-warning font-size-12">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price py-2">
                                    <span><%=products[i].price%></span>
                                </div>
                                <a class="btn btn-warning font-size-12 add-to-cart" value='<%=products[i].id%>'>Add to
                                    Cart</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer" class="bg-dark text-white py-5">
        <%- include ("../partials/footer") %>
    </footer>
    <%- include("../partials/script")  %>
    <script>
        $(document).ready(function () {
            // banner owl carousel
            $("#banner-area .owl-carousel").owlCarousel({
                dots: true,
                items: 1
            });
            //top sale carousel
            $("#top-sale .owl-carousel").owlCarousel({
                nav: true,
                dots: false,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });


            var $grid = $(".grid").isotope({
                itemSelector: '.grid-item',
                layoutMode: 'fitRows'
            });

            //filter items on button click
            $(".button-group").on("click", "button", function () {
                var filterValue = $(this).attr('data-filter');
                $grid.isotope({ filter: filterValue });
            })

            //new phone carousel
            $("#new-phones .owl-carousel").owlCarousel({
                items: 5,
                nav: false,
                dots: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });
            $("#laest-block .owl-carousel").owlCarousel({
                items: 3,
                nav: false,
                dots: false,
                loop: true,
            });
        });



        $(".add-to-cart").click(function (e) {
            e.preventDefault();
            let id = $(this).attr('value');
            $.ajax({
                type: 'GET',
                data: {
                    product: {
                        id: id,
                        number: 1
                    }
                },
                url: '/cart/add/' + id,
                success: () => {
                    console.log("add success" + id);
                }
            }).done(function (data) {
                console.log(data);
                if (data == -1) {
                    $('#result-add-cart').html('Add success')
                } else {
                    $('#result-add-cart').html('Exist Item')
                }
                $('.toast').toast('show');
                
            });
            let currentNumber = parseInt($('#number-of-cart').text()) + 1;
            $('#number-of-cart').html(currentNumber);
        });
    </script>
</body>

</html>