<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body>
    <header id="header">
        <%- include("../partials/header") %>
    </header>
    <main id="main">
        <section id="cart" class="py-3">
            <div class="container-fluid w-75">
                <h5 class="font-baloo font-size-20 my-3">My Order</h5>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="orders">
                            <tr>
                              <th>Order</th>
                              <th>Date time</th>
                              <th>State</th>
                              <th>View</th>
                            </tr>
                            <% for (var i = 0; i < order.length;  i++) { %>
                                <tr>
                                    <td><%=order[i].name%></td>
                                    <td><%=order[i].time%></td>
                                    <td><%=order[i].state%></td>
                                    <td><a href="/order/detail/<%=order[i].id%>">View</a></td>
                                </tr> 
                            <% } %>
                        </table>
                    </div> 
                </div>
            </div>
        </section>
    </main>
    <footer id="footer" class="bg-dark text-white py-5">
        <%- include("../partials/footer") %>
    </footer>
    <%- include("../partials/script") %>
    <script>
        
    </script>
</body>

</html>