<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <div class="toast ">
        <div class="toast-body">
            <span id="result-add-cart">Some text inside the toast body</span>
        </div>
    </div>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <section id="product">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img id="main-product" src="<%=product.image%>" alt="" class="img-fluid">
                        <div class="form-row font-size-16 pt-4 font-baloo">
                            <div class="col">
                                <button class="btn btn-danger text-white form-control" type="submit">Proceed to Buy</button>
                            </div>
                            <div class="col">
                                <a class="btn btn-warning text-dark form-control add-to-cart" value='<%=product.id%>' type="submit">Add to Card</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="font-baloo font-size-20 pt-5"><%=product.title%></h5>
                        <small>by <%=product.branch%></small>
                        <div class="d-flex">
                            <div class="rating text-warning font-size-14">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <a href="#" class="font-size-14 font-rale px-2" style="color: #007bff">20,534 ratings | 1000+ answered questions</a>
                        </div>
                        <hr class="m-0">
                        <table class="my-3">
                            <tr class="font-rale font-size-14">
                                <td>Giá bán:</td>
                                <td class="font-size-20 text-danger"> 
                                    $<span><%=product.price%></span>
                                    <small class="text-dark font-size-12">Inclusive of all taxes</small>
                                </td>
                            </tr>
                            <tr class="font-rale font-size-14">
                                <td>Bạn trả:</td>
                                <td class="font-size-16 text-danger"> 
                                    $<span><%=product.price%></span>
                                </td>
                            </tr>
                        </table>
                        <div class="d-flex">
                            <div class="return text-center mr-5">
                                <div class="font-size-20 my-2 color-second">
                                    <span class="fa fa-retweet border p-3 rounded-pill"></span>
                                </div>
                                <a href="#" class="font-rale font-size-12">Đổi trả<br>trong 10 ngày</a>
                            </div>
                            <div class="return text-center mr-5">
                                <div class="font-size-20 my-2 color-second">
                                    <span class="fa fa-truck border p-3 rounded-pill"></span>
                                </div>
                                <a href="#" class="font-rale font-size-12">Giao hàng<br>tận nơi</a>
                            </div>
                            <div class="return text-center mr-5">
                                <div class="font-size-20 my-2 color-second">
                                    <span class="fa fa-check border p-3 rounded-pill"></span>
                                </div>
                                <a href="#" class="font-rale font-size-12">Bảo hành<br>2 tháng</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <div class="color my-3">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="font-baloo">Color</h6>
                                        <div class="color-yellow-bg rounded-circle p-2">
                                            <button class="btn font-size-14"></button>
                                        </div>
                                        <div class="color-second-bg rounded-circle p-2">
                                            <button class="btn font-size-14"></button>
                                        </div>
                                        <div class="color-primary-bg rounded-circle p-2">
                                            <button class="btn font-size-14"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="size my-3">
                            <h6 class="font-baloo font">Size</h6>
                            <div class="d-flex justify-content-between w-75">
                                <div class="font-rubik border p-2 mr-5">
                                    <button class="btn p-0 font-size-14">Size M</button>
                                </div>
                                <div class="font-rubik border p-2 mr-5">
                                    <button class="btn p-0 font-size-14">Size L</button>
                                </div>
                                <div class="font-rubik border p-2 mr-5">
                                    <button class="btn p-0 font-size-14">Size XL</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 pt-5">
                        <h6 class="font-rubik">Product decription</h6>
                        <hr>
                        <p class="font-rale font-size-14">
                            <%=product.decription%>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-dark text-white py-5">
        <%- include("../partials/footer") %>
    </footer>
    <%- include("../partials/script") %>
    <script>
        $(".add-to-cart").click(function (e) {
            e.preventDefault();
            let id = $(this).attr('value');
            let href = window.location.href.split('/')[3];
            $.ajax({
                type: 'GET',
                data: {
                    product: {
                        id: id,
                        number: 1,
                        href: href
                    }
                },
                url: '/cart/add/' + id,
                success: () => {
                    console.log("add success" + id);
                }
            }).done(function (data) {
                console.log(data);
                if (data == -1) {
                    $('#result-add-cart').html('Add success')
                    let currentNumber = parseInt($('#number-of-cart').text()) + 1;
                    $('#number-of-cart').html(currentNumber);
                } else {
                    $('#result-add-cart').html('Exist Item')
                }
                $('.toast').toast('show');

            });

        });
    </script>
</body>
</html>